<div class="form-wrapper">
<h1>Editing User</h1>

<%= render 'form' %>

<%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Show', @user %> |
<%= link_to 'Back', users_path %>
</div>