// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.indents > .indent {
    width:50px;
    height:1px;
    margin-bottom:10px;
    display:inline-block;
  }

.post-body {
  background-color: #fff;
  display: inline-block;
}

.individual-post {
  background-color: #fff;
  width: 100%;
  display: inline-block;
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-post {
  display: inline-block;
  vertical-align: center;
  padding-left: 60px;
}

.post-area {
  display: inline-block;
}

.feed-img, .deleted-user-img {
  width: 50px;
  position: absolute;
  padding-left: 5px;
}

.post-divider {
  height: 15px;
  width: 1140px;
}

footer {
  background-color: #fff;
  padding: 5px;
  text-align: center;
}